.form {
  width: 300px;
  max-height: 200px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  font-weight: bold;
  font-size: 14px;
}

.form-group .form-control {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  font-size: 14px;
}