.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  height: 60px;
  padding: 0 20px;
}

.dark {
  background-color: #475B72;
  color: #e8f3ff;
}
